body{
    margin: 0;
    font-family: "Poppins", serif;
    h1{
        font-size: 50px;
        font-weight: 600;
    }
}
.banner{
    display: flex;
    justify-content: space-between;
  
    background-image: url(images/top-banner.png);
    
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
    

}
.half-banner{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 5%;
    
}
.jasim{
    color: orange;
}
.link-button{
    background-image: linear-gradient(to right, orange,orangered);
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    
}
.dream-big{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    
    background-repeat: no-repeat;

}
.dream-half{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
    img{
        width: 100%;
    }
}
.resume{
    background-image: linear-gradient(to right, orange, orangered);
    padding: 10px 35px;
    text-decoration: none;
    color: #ffffff;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
    display: flex;
    justify-content: center;
    gap:200px;
    
    h3{
        text-align: center;

    }
    p{
        text-align: justify;
    }
    h5{
        text-align: center;
    }
    .ex{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 400px;
        padding: 30px;
        
   
    }
  
}




